[{{index_prefix}}standard_index]

[{{index_prefix}}metrics_index]

{% if item.indexes is defined %}
{% for index in item.indexes %}
[{{index_prefix}}{{index.name}}]
{% if index["params"] is defined %}
{% for param in index["params"] %}
{{param.key}} = {{param.value}}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}